@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid black;
    border-radius: 9px;
    width: fit-content;
}

.container {
    padding: 0 6px;
    background-color: black;
}

.button {
    width: 60px;
    padding: 20px; 
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 19px;
    margin: 0;
    padding: 10px 17px;
    border: 2px solid black;
    border-radius: 9px;
}

.foot {
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
}