.text-center {
    text-align: center;
}

.bg-orange {
    background-color: orange;
}

.bg-grey {
    background-color: rgb(163, 162, 162);
}

.bg-lb {
    background-color: rgb(87, 85, 85);
}

.font-white {
    color: white;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify {
    justify-content: center;
}